.form {
	margin-top: 0;
	width: 100%;
}

.form-label {
	display: block;
	margin-bottom: 1rem;
}

.form-textarea,
.form-input {
	background: rgba(222, 237, 247, 0.2);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0.5rem;
	font-size: 1.25rem;
	margin-bottom: 2rem;
	padding: 1rem;
	transition: all 0.2s ease-in-out;
}

.form-textarea:hover,
.form-input:hover {
	background: rgba(222, 237, 247, 0.25);
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.form-textarea::placeholder,
.form-input::placeholder {
	color: rgba(0, 0, 0, 0.25);
}

.form-textarea {
	max-width: 100%;
	width: 100%;
}

.form-input {
	width: 4.5rem;
}

@media screen and (min-width: 720px) {
	.form {
		margin-top: 4rem;
		width: 480px;
	}
}
